{% extends '__base__.html' %}

{% block title %}早盘只卖不买，晚上可买可卖{% endblock %}

{% block beforehead %}

    <script>
    </script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        {% for blog in blogs %}
            <article class="uk-article">
                <h2><a href="/blog/{{ blog.baseinfo[0] }}">{{ blog.baseinfo[1] }}-- {{ blog.baseinfo[2] }}</a></h2>

                <p>流通股本:{{ blog.baseinfo[4] }} (亿)   总股本 {{ blog.baseinfo[5] }} (亿)  </p>

                <p style=" font-weight: 700;">收益情况：</p>
                <p>资产收益率：{{ blog.baseinfo[7] }}% </p>
                <p>{{ blog.companyInfo_middleMeiGuReport }}</p>
                <p>{{ blog.companyInfo_yearMeiGuReport }}</p>
                <p>{{ blog.companyInfo_middleReport }}</p>
                <p>{{ blog.companyInfo_yearReport }}</p>

                <p style=" font-weight: 700;">公告概况：</p>
                <p>{{ blog.reportInfo }}</p>
                <p >准则打分：{{ blog.score }}</p>

                <table border="1">
                    <tr>
                        <th>每股收益下降</th>
                        <th>每股收益率下降</th>
                        <th>强支撑下调</th>
                        <th>下降三阴兵</th>
                        <th>顶部下降</th>
                        <th>纯加速上升通道</th>
                        <th>三线下降</th>
                    </tr>
                    <tr>
                        <td>{{ blog.refuseInfo[6] }} </td>
                        <td>{{ blog.refuseInfo[5] }} </td>
                        <td>{{ blog.refuseInfo[0] }} </td>
                        <td>{{ blog.refuseInfo[1] }} </td>
                        <td>{{ blog.refuseInfo[2] }} </td>
                        <td>{{ blog.refuseInfo[3] }} </td>
                        <td>{{ blog.refuseInfo[4] }} </td>
                    </tr>

                </table>


            </article>
            <hr class="uk-article-divider">
        {% endfor %}
        {{ pagination('/?page=', page) }}
    </div>


{% endblock %}
